.game-form__players-count {
  margin: 15px 0;
}

.game-form__player-names {
  margin: 15px 0;
  input {
    height: 35px;
    padding: 0 11px;
  }

  :nth-child(1) {
    background-color: #fff9c4;
  }

  :nth-child(2) {
    background-color: #c8e6c9;
  }

  :nth-child(3) {
    background-color: #b3e5fc;
  }
}

.player-names--grouped {

  :nth-child(1) {
    background-color: #fff9c4;
  }

  :nth-child(2) {
    background-color: #fff9c4;
  }

  :nth-child(3) {
    background-color: #c8e6c9;
  }

  :nth-child(4) {
    background-color: #c8e6c9;
  }
}
