.byte-left, .byte-right {
  position: absolute;
  top: 18px;
  height: 35px;
}

.game-score__label {
  font-size: 0.4em;
  color: #7d7d7d;
  font-weight: 600;
}

.byte-right {
  right: -45px;
}

.byte-left {
  left: -45px;
}

.byte-right-label, .byte-left-label {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 18px;
  height: 35px;
  width: 86px;
  border-radius: 2px;
  background-color: #d32f2f;
  color: #FFF;
}

.byte-right-label {
  right: 0;
}

.byte-left-label {
  left: 0;
}

.bella {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options__item {
  margin: 5px 0;
}
