.game-table {
  margin: 0 auto;
  border-collapse: collapse;

  th, td {
    border: 1px solid #e1e1e1;

    &:first-child {
      min-width: 70px;
      font-size: 0.8em;
    }

    &:last-child {
      border: none;
      background: #FFF;
      position: relative;
    }
  }

  thead {
    font-weight: 600;

    .game-table {
      &__cell {
        height: 32px;
      }
    }
  }

  &__cell {
    height: 42px;
    min-width: 61px;
  }

  &__row {
    &:first-child td {
      border-top-width: 2px;
    }

    &--active td {
      background: #EBEBEB;
    }

    &--winners {
      color: #f44336;
      font-weight: bold;

      td {
        border-top-width: 2px;
      }
    }

    &:nth-last-child(2) {
      .game-table__cell--score {
        font-size: 1.2em;
        font-weight: bold;
        padding: 5px;
      }
    }
  }

  .button--edit {
    margin: 0 0 0 5px;
    border-radius: 50%;
    width: 46px;
    height: 46px;
  }
}

.round-score-value {
  font-size: 0.4em;
  color: #2E7D32;
}

.round-score {
  position: absolute;
  top: 21px;
  left: -69px;
  font-size: 0.4em;
  color: #b1601b;
  background: #FFF;
  padding: 2px;
  border-radius: 3px;
}

.game-player {
  font-size: 0.4em;
  color: red;

  &--own {
    color: #2E7D32;
  }
}

.button__new-game {
  margin: 40px 15px;
}

.game-table-container {
  padding-left: 30px;
}
