.game-table {
  margin: 0 auto;
  border-collapse: collapse;

  th, td {
    border: 1px solid #e1e1e1;

    &:first-child {
      min-width: 65px;
    }

    &:last-child {
      border: none;
      background: #FFF;
    }
  }

  thead {
    font-weight: 600;
  }

  &__header {

    &-cell {
      padding: 5px;
      height: 40px;
    }
  }

  &__cell {
    height: 40px;
    padding: 5px 10px;
  }

  &__row {
    &--active td {
      background: #EBEBEB;
    }
  }

  .button--edit {
    margin: 0 5px;
    border-radius: 50%;
    width: 52px;
    height: 52px;
  }
}
