.game-table {
  margin: 0 auto;
  border-collapse: collapse;

  th, td {
    border: 1px solid #e1e1e1;

    &:first-child {
      min-width: 65px;
      font-size: 0.8em;
    }

    &:last-child {
      border: none;
      background: #FFF;
    }
  }

  thead {
    font-weight: 600;
  }

  &__header {
    &-cell {
      padding: 5px;
      height: 40px;
    }
  }

  &__cell {
    height: 40px;
    padding: 3px 10px;
  }

  &__row {
    &--active td {
      background: #EBEBEB;
    }

    &--winners {
      color: red;
      font-weight: bold;
    }

    &:nth-last-child(2) {
      .game-table__cell--score {
        font-size: 1.2em;
        font-weight: bold;
      }
    }
  }

  .button--edit {
    margin: 0 5px;
    border-radius: 50%;
    width: 52px;
    height: 52px;
  }
}

.round-score-value {
  font-size: 0.4em;
  color: #2E7D32;
}

.button__new-game {
  margin-top: 20px;
}
